h1{
    text-align: center;
    color: #dc143c;
}

div{
    padding: 10px;
    border: 2px solid gold;
    background-color:firebrick;
    width: 700px;
    box-sizing: border-box;
    /*Establece el ancho máximo de un elemento. Ayuda a evitar que el contenido se espanda mas alla del max-width*/
    /* Si el contenido o pantalla es más pequeña, el elemento se ajustará para no superar el límite definido en max-width. */
    max-width: 300px;
    /* Centrar un div */
    margin: 0 auto; /* Centrado horizontal */
} 