h1{
    text-align: center;
    color: #dc143c;
}

div{
    padding: 10px;
    border: 15px solid gold;
    margin: 20px;
    background-color:firebrick;
    width: 300px;
    /*Outline es una linea que se dibuja por alrededor de un elemento, no afecta el tamaño del elemento*/
    outline: 10px solid teal;/*Se usa para resaltar elementos, cuando un elemento recibe foco, mejorar accesibilidad*/
    outline-offset: 10px;/*Establece la cantidad de espacio entre un contorno(outline) y el borde o límite de un elemento*/
} 