h1, div, p, span{
    border: 3px solid blueviolet;
    text-align: center;
    color: brown;
    padding: 10px;
    display: block;
}

a{
    display: block;
}

li{
    display: inline;
}

h1 {
    display: none; /* Oculta completamente el elemento. No ocupa espacio en el diseño de la página. */
}

p {
    visibility: hidden; /* Oculta el elemento, pero sigue ocupando espacio en la página. */
}
