h1{
    text-align: center;
    /* Aplica un efecto de sombra al texto. 
        Parámetros: 
        - `2px`: desplazamiento horizontal (hacia la derecha). 
        - `2px`: desplazamiento vertical (hacia abajo). 
        - `2px`: desenfoque (difuminado de la sombra). 
        - `gray`: color de la sombra (gris). 
    */
    text-shadow: 2px 2px 2px gray;

}

div.contenedor{
    width: 30%;
    height: 60%;
    margin: auto;
    border: 3px solid aqua;
    padding: 15px;
    text-align: center;
}