h1{
    text-align: center;
    color: #457b9d;
}

div.contenedor{
    width: 80%;
    height: 20%;
    overflow:auto; /*Establece en la forma en que se muestra el contenido, visible, oculto, auto o en scroll cuando el
    contenido no cabe en el cuadro de relleno del elemento (se desborda) en direccion horizontal y/o vertical*/
    margin: auto;
    border: 3px dashed #a8dadc;
}

span{
    font-weight: bolder;
    font-style: italic;
    font-size: larger;
    background-color: #a8dadc;
    border: 1px solid #457b9d;
    height: 50px;
    padding: 10px;
    display: inline-block;/* Cada caja ocupa un bloque, pero está en línea con las demás */

    /* 
    inline: Solo ocupa el espacio necesario (no permite width ni height personalizados).
    block: Ocupa todo el ancho disponible y se apila verticalmente.
    inline-block: Permite personalizar dimensiones, width, height sin apilarse automáticamente. 
    */
}

.menu{
    list-style-type: none; /*Establece el tipo de estilo de cada elemento de la lista*/
    text-align: center;
}

.menu li{
    display: inline-block;
    padding: 15px;
    margin: 20px;
    background-color: #e63946;
    border-radius: 5px;
}

a{
    text-decoration: none; /*Establece la apariencia de las líneas decorativas en el texto*/
    color: #f1faee;
}

