h1{
    text-align: center;
}

div.relativo{/*Primer contenedor con position distinto de static.*/
    max-width: 300px;
    height: 200px;
    top: 10px;
    left: 100px;
    position: relative;
    border: 3px solid green;
}

div.absoluto{
    border: 3px solid firebrick;
    /* Estas propiedades funcionan solo cuando el elemento tiene un valor de position distinto de 
    static (relative, absolute, fixed, o sticky). */
    top: 50px; /*top, left, right y bottom (Desplazamiento en position) */
    left: 45px;
    /* position: static; Sigue el flujo normal, sin desplazamientos */
    /*position: static;*//* es el valor por defecto de los elementos de bloque */

    /* Solo desplaza el elemento sin afectar los demás, con top: 100px se mueve 100px hacia abajo desde su posicion inicial */
    /*position: relative;*/ /*Mueves el elemento desde su posición normal en el flujo del documento.*/

    /* Se posiciona en relación a la ventana del navegador y permanece fijo al hacer scroll. */
    /*position: fixed;*/ /* Se fija en la ventana del navegador y no cambia al hacer scroll */

    /* Se posiciona en relación al primer contenedor con position distinto de static. */
    position: absolute;
}

