h1{
    text-align: center;
    color: crimson;
}

div{
    padding: 15px;
    margin: auto;
    max-width: 400px;
}

.icono_alarmaAzul{
    font-size: 2.5em; 
    color: blue;
}

.icono_flechaRoja{
    font-size: 3em;
    color: red;
}

.icono_done{
    vertical-align: bottom;
    color: green;
}

.icono_arrow_forward{
    color: yellow;
    font-size: 3.5em;
}