h1{
    text-align: center;
    color: #e63946;
}

div.contenedor{
    width: 80%;
    height: 20%;
    margin: auto;
    border: 3px solid #a8dadc;
    padding: 10px;
    color: chocolate;
}

div.contenedor.descendiente p{
    background-color: yellow;
    /* La regla div.contenedor.descendiente p aplica a cualquier párrafo <p> que sea descendiente del <div> con las clases
    contenedor y descendiente, sin importar cuán anidado esté. Esto incluye los <p> dentro del <section>. */
}

div.contenedor.hijo > p{
    background-color:teal;
    /* La regla utiliza el selector hijo directo (>). Esto significa que afecta únicamente a los elementos
    <p> que son hijos directos de un elemento <div> con las clases contenedor y hijo */
}

div.contenedor.adyacente + p{ /*El selector adyacente (+) afecta solo al primer hermano inmediato.*/
    background-color: greenyellow;
    /* Este selector aplica estilos solo al primer elemento <p> inmediatamente después de un <div> con las clases contenedor
    y adyacente. */
}

div.contenedor.hermano ~ p{ /*Selector general de hermanos (~) afectan a todos los hermanos posteriores, no solo al primero.*/
    background-color: rebeccapurple;
    /* Este selector aplica estilos a todos los elementos <p> que sean hermanos posteriores de un <div> con las clases
    contenedor y hermano. */
}