h1{
    text-align: center;
    color: #e63946;
}

div.contenedor{
    width: 30%;
    height: 20%;
    margin: auto;
    border: 3px solid #a8dadc;
    padding: 10px;
    color: chocolate;
    text-align: center;
}

/* Aplica una opacidad del 50% a todas las imágenes (<img>) */
img {
    opacity: 0.5; /* La imagen será semitransparente por defecto */
}

/* Cuando el usuario pasa el mouse sobre una imagen (<img>), aumenta la opacidad */
img:hover {
    opacity: 1.0; /* La imagen será completamente opaca al pasar el mouse */
}
