h1{
    text-align: center;
    color: #e63946;
}

div.contenedor{
    width: 30%;
    height: 20%;
    margin: auto;
    border: 3px solid #a8dadc;
    padding: 10px;
    color: chocolate;
    text-align: center;
}

/* Estiliza la parte del texto que el usuario selecciona con el cursor. */
div.contenedor p::selection{
    color: red;
    background-color: yellow;
}

/*Estiliza solo la primera línea de texto visible de un elemento, teniendo en cuenta el ancho del contenedor.*/
div.contenedor p::first-line{
    color: blue;
    font-variant: small-caps;
}

/*Aplica estilos únicamente a la primera letra del contenido del elemento.*/
div.contenedor p::first-letter{
    color: green;
    font-size: 1.5em;
}



/* Agrega contenido (antes) de cada párrafo (<p>) dentro de un <div> con clase "contenedor" */
div.contenedor p::before{
    content: "- ";
}

/* Agrega contenido (despues) de cada párrafo (<p>) dentro de un <div> con clase "contenedor" */
div.contenedor p::after{
    content: " -";
}