h1{
    color: #ef476f;
    text-align: center;
    text-transform: uppercase;/* Convierte el texto a mayúsculas */
    /* Añade una sombra de texto en gris claro, desplazada 2px a la derecha y 2px hacia abajo, con un desenfoque de 2px */
    text-shadow: 2px 2px 2px #ced4da;
    letter-spacing: 3px; /* Aumenta el espacio entre letras en 3px */
    word-spacing: 10px; /* Aumenta el espacio entre palabras en 10px */
    text-decoration: overline; /* Agrega una línea sobre el texto */
}

.caja{
    padding: 15px;
    margin: auto;
    width: 70%;
    background-color: #219ebc;
    border-radius: 5px;
    color: white;
}

.texto{
    text-align: justify;/* Alinea el texto de forma justificada, ajustando los espacios para que ambos lados queden alineados */
}