/*Selector universal*/
*{
    background-color:darkcyan;
    color: gold ;
}


/*Selector de tipo*/
/* h1 {
    color: aqua;
    text-align: left;
} */

/*Selector de id*/
#titulo {
    color: crimson;
    text-align: center;
}

/*Selector de clase*/
.centrar {
    text-align: center;
}

.textoGrande {
    font-size: 20px;
}

/*Agrupar selectores de tipo*/
h1, h2, p {
    background-color:blueviolet;

}

/*Subclases*/
p.right {
    text-align: right;
}