/*Importacion de fuentes desde la pagina de google fonts*/
/* @import url('https://fonts.googleapis.com/css2?family=Sofia&family=Roboto&display=swap'); */
/*Usando efectos con la version anterior de css google fonts*/
@import url('https://fonts.googleapis.com/css?family=Sofia|Roboto&effect=shadow-multiple&display=swap');

h1{
    color: #ef476f;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #ced4da;
    font-family: "Sofia", cursive; /*Nueva fuente agregada mediante google fonts*/
}

.caja{
    padding: 5px;
    width: 40%;
    height: 80px;
    border-radius: 5px;
    color: white;
    text-align: center;
    margin: 10px;
    font-size: 20px;
    float: left;
}

.caja.serif{
    background-color: #5a189a;
}

.fuenteTimes{
    /* Define la familia de fuentes como 'Times New Roman', 
       con alternativas 'Times' y cualquier fuente serif en caso de no estar disponibles. */
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: normal;
    /* Aplica el formato de pequeñas mayúsculas a los textos, es decir convierte las minusculas a pequeñas minusculas 
    y las letras mayusculas permanecen como estan*/
    font-variant: small-caps;

/* px: Tamaño absoluto y fijo en píxeles. No cambia con el tamaño de la ventana ni del elemento padre. */
    font-size: 16px;
}

.fuenteGeorgia{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-weight: bold;
    font-variant: normal;
    /* em: Tamaño relativo al tamaño de fuente del elemento padre. Escalable y útil para herencia de estilos. */
    font-size: 1em; /*16px/16 = 1em*/ /*20px/20 = 1em*/
}

.caja.sans-serif{
    background-color: #00b4d8;
}

.fuenteArial{
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;/* Aplica un estilo inclinado (similar a cursiva). */
    font-weight: bolder;/* Define un grosor de fuente más fuerte que bold. */
    /* vw: Tamaño relativo al ancho de la ventana del navegador (1vw = 1% del ancho). Ideal para diseños responsivos. */
    font-size: 3vw; /*view width (viewport) 1vw = 1%*/
}

.fuenteVerdana{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
}

.caja.monospace{
    background-color: #f15bb5;
}

.fuenteCourier{
    font-family: 'Courier New', Courier, monospace;
}

.caja.cursive{
    background-color: #ff8500;
}

.fuenteLucida{
    font-family: 'Lucida Handwriting', cursive;
}

.fuenteRoboto{
    /* font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-variant: small-caps;
    font-size: 20px; */

    /*font: font-style font-variant font-weight font-size/line-height font-family*/
    font: italic small-caps bolder 20px Roboto, sans-serif; /*Establece todas las diferentes propiedades de la fuente de un elemento.*/
}

h2 {
    clear: both; /* Asegura que el elemento esté por debajo de todo */
    text-align: center;
}
