h1 {
    text-align: center;
}

.punteado {
    border-style: dotted;
    border-width: 8px 6px 4px 2px;
    border-color: blueviolet crimson lime gold;
}

.discontinuo {
    border-style: dashed;
    border-width: thick; /*thin ,medium ,thick*/
    border-color: #457b9d;
}

.solido {
    border: solid red;
    border-width: 8px 4px 2px;
}

.doble {
    border: double aqua;
    border-width: 8px 4px;
}

.surco {
    border: 10px groove;
    /* border-width: 10px;
    border-style: groove; */
}

.cresta {
    border: 10px ridge ;
}

.recuadro {
    border: 10px inset;
}

.outset {
    border: 10px outset;
}

.sinBorde {
    border: none;
}

.oculto {
    border: hidden;
}

.mixto {
    border-style: dotted solid dashed double;
}