ol {
    list-style: none; /* Elimina el estilo de lista predeterminado, como los números o viñetas */
    counter-reset: contador; /* Inicializa un contador llamado 'contador' a 0 */
}

ol li {
    counter-increment: contador; /* Incrementa el contador 'contador' en 1 por cada elemento <li> dentro de <ol> */
}

ol li::before {
    /* Agrega 'Curso ' antes del contenido seguido del valor actual del contador y un paréntesis de cierre antes del contenido del <li> */
    content: 'Curso ' counter(contador) ') ';
    color: #ff6f00; /* Cambia el color del texto agregado a un tono anaranjado */
}

ol li::after {
    content: '.'; /* Agrega un punto (.) al final del contenido del <li> */
}
