h1{
    text-align: center;
    text-shadow: 2px 2px 2px #e63946;
}

div.contenedor{
    background-color: blueviolet;
    display: flex; /* Activa el comportamiento flexbox para este contenedor */
    flex-flow: row wrap; /* Solo tiene efecto si el contenedor tiene múltiples filas (flex-wrap: wrap;). */
    justify-content: center; 
    height: 300px; 
    align-items: center;

    /* align-content: flex-start; 
    Alinea las filas de elementos al inicio del eje cruzado (arriba por defecto). */

    /* align-content: flex-end; 
    Alinea las filas de elementos al final del eje cruzado (abajo por defecto). */

    /* align-content: space-around; 
    Distribuye las filas con espacios iguales alrededor (antes y después de cada fila). */

    /* align-content: space-between; 
    Distribuye las filas con el máximo espacio posible entre ellas, 
    dejando las primeras y últimas filas pegadas a los bordes del contenedor. */

    align-content: center; 
    /* Alinea todas las filas de elementos al centro del eje cruzado (vertical por defecto). */

    

    /* align-items: center ; Afecta la alineación de los elementos individuales dentro de una sola fila (eje cruzado). */
    /* align-content: center; Afecta la alineación del conjunto de filas dentro del contenedor flex. */
}


div.contenedor > p{
    background-color: aqua;
    color: white;
    margin: 20px;
    padding: 15px;
    font-size: 1.5em;
}